In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
dframe_wine = pd.read_csv('winequality-red.csv', sep=';')

In [3]:
dframe_wine.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [4]:
def ranker(df):
    df['alc_content_rank'] = np.arange(len(df))+1
    return df

In [5]:
dframe_alc_rank = dframe_wine.sort_values('alcohol', ascending=False)

dframe_alc_rank = dframe_alc_rank.groupby('quality').apply(ranker)

In [7]:
dframe_alc_rank.head()

              fixed acidity  volatile acidity  ...  quality  alc_content_rank
quality                                        ...
3       899             8.3             1.020  ...        3                 1
        1299            7.6             1.580  ...        3                 2
        690             7.4             1.185  ...        3                 3
        1478            7.1             0.875  ...        3                 4
        1505            6.7             0.760  ...        3                 5

[5 rows x 13 columns]

In [9]:
dframe = DataFrame({'k1': ['X', 'X', 'Y', 'Y', 'Z'],
                                       'k2': ['alpha', 'beta', 'alpha', 'beta', 'alpha'],
                                       'dataset1': np.random.randn(5),
                                       'dataset2': np.random.randn(5)})
dframe

  k1     k2  dataset1  dataset2
0  X  alpha  1.093206 -0.601315
1  X   beta  1.055159  0.188742
2  Y  alpha -0.156119 -0.127599
3  Y   beta -1.397628  0.441798
4  Z  alpha -0.008423  0.982891

In [19]:
len(dframe)

5

In [17]:
dframe_wine['quality']

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [18]:
dframe_wine

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [21]:
num_of_qual = dframe_alc_rank['quality'].value_counts()
num_of_qual

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [22]:
dframe_alc_rank.index = dframe_alc_rank.index.rename(['idx_quality', 'index'])

In [23]:
dframe_alc_rank[dframe_alc_rank['alc_content_rank'] == 1].sort_values('quality')

                   fixed acidity  volatile acidity  ...  quality  alc_content_rank
idx_quality index                                   ...
3           899              8.3              1.02  ...        3                 1
4           45               4.6              0.52  ...        4                 1
5           652             15.9              0.36  ...        5                 1
6           142              5.2              0.34  ...        6                 1
7           821              4.9              0.42  ...        7                 1
8           588              5.0              0.42  ...        8                 1

[6 rows x 13 columns]